*
{
  margin:0px;
  padding:0px;
  font-family: tahoma;
}
a
{
  color:#002178;
  text-decoration: none;
}
a:hover
{
  text-decoration: underline;
}
.box
{
  width:calc(100%-20px);
  /*background-color: #ff2167;*/
  margin-left: auto;
  margin-right: auto;
  line-height: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
}
#container
{
  width:90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
#container h1
{
  text-align: center;
  margin-bottom: 40px;
}
.para
{
  font-size:14px;
  font-family: tahoma;
  padding-left: 2%;
}
ul
{
  padding-left: 3%;
}
.author
{
  text-align: right;
  padding-right: 30px;
  font-size: 12px;
}
